# Precificador Imobiliário

## Bibliotecas

In [9]:
import pandas as pd

## Carregar a Base

In [5]:
df = pd.read_csv('imoveis.csv')
df

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,SPA,Área de Serviço Coberta,Piso em Porcelanato,Vista Livre,Home Theater,Aceita Pet,Academia,tipo,Latitude,Longitude
0,SQNW 310 Bloco B,5100.0,76.0,67.105263,2,1,2,409,791,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.744342,-47.912500
1,SQNW 302,8500.0,69.0,123.188406,2,2,2,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.768450,-47.910646
2,SCRN 708/709,1620.0,31.0,52.258065,1,1,1,781,410,ASA NORTE,...,0,0,0,0,0,0,0,Kitnet,-15.763582,-47.892389
3,SQS 316,9000.0,240.0,37.500000,4,1,2,SemInformacao,2400,ASA SUL,...,0,0,0,1,0,0,0,Apartamento,-15.829897,-47.927249
4,SQNW 309 Bloco D,11000.0,155.0,70.967742,4,1,2,1319,1845,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.746442,-47.912663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58045,SHIS QI 7,12900000.0,650.0,19846.153846,4,4,4,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,0,0,0,0,Casa,-15.844132,-47.891195
58046,SHIS QL 10,18500000.0,850.0,21764.705882,5,5,6,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,0,0,0,0,Casa,-15.829325,-47.872777
58047,SHA Conjunto 5 Chacará 19A,1500000.0,500.0,3000.000000,4,3,3,SemInformacao,SemInformacao,ARNIQUEIRA,...,0,0,0,0,0,0,0,Casa,31.197678,121.334483
58048,Condomínio Santa Felicidade,1340000.0,250.0,5360.000000,3,3,2,SemInformacao,750,JARDIM BOTANICO,...,0,0,0,0,0,0,0,Casa,-15.572722,-47.333241
58049,SHIS QI 28 Com habite-se,3850000.0,800.0,4812.500000,5,4,2,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,1,0,0,0,Casa,-16.247671,-47.950348

## Tratar a Base

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58050 entries, 0 to 58049
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Título                   58050 non-null  object
 1   Valor                    58050 non-null  float64
 2   area                     58050 non-null  float64
 3   Valor_metro              58050 non-null  float64
 4   quartos                  58050 non-null  int64
 5   suites                   58050 non-null  int64
 6   garagem                  58050 non-null  int64
 7   iptu                     58050 non-null  object
 8   condominio               58050 non-null  object
 9   regiao                   58050 non-null  object
 10  cidade                   58050 non-null  object
 11  imobiliaria              58050 non-null  object
 12  creci                    58050 non-null  object
 13  operacao                 58050 non-null  object
 14  Aquecimento Solar        58050 non-null  int64
 15  Circuito de TV           58050 non-null  int64
 16  Gerador de Energia       58050 non-null  int64
 17  Piscina                  58050 non-null  int64
 18  Sala de Ginástica        58050 non-null  int64
 19  Varanda                  58050 non-null  int64
 20  Cozinha Espaçosa         58050 non-null  int64
 21  Ar Condicionado          58050 non-null  int64
 22  Cobertura Coletiva       58050 non-null  int64
 23  Guarita                  58050 non-null  int64
 24  PlayGround               58050 non-null  int64
 25  Salão de Festas          58050 non-null  int64
 26  Projeto de Iluminação    58050 non-null  int64
 27  Pintura Nova             58050 non-null  int64
 28  Área de Lazer            58050 non-null  int64
 29  Interfone                58050 non-null  int64
 30  Mobiliado                58050 non-null  int64
 31  Área de Serviço          58050 non-null  int64
 32  Brinquedoteca            58050 non-null  int64
 33  Churrasqueira            58050 non-null  int64
 34  Cozinha com Armários     58050 non-null  int64
 35  Despensa                 58050 non-null  int64
 36  Escritório               58050 non-null  int64
 37  Gás Canalizado           58050 non-null  int64
 38  Jardim                   58050 non-null  int64
 39  Lavabo                   58050 non-null  int64
 40  Lazer no Pilotis         58050 non-null  int64
 41  Poço Artesiano           58050 non-null  int64
 42  Portão Eletrônico        58050 non-null  int64
 43  Quadra Esportiva         58050 non-null  int64
 44  Sala de Jogos            58050 non-null  int64
 45  Salão de Jogos           58050 non-null  int64
 46  Salão Gourmet            58050 non-null  int64
 47  Sauna                    58050 non-null  int64
 48  SPA                      58050 non-null  int64
 49  Área de Serviço Coberta  58050 non-null  int64
 50  Piso em Porcelanato      58050 non-null  int64
 51  Vista Livre              58050 non-null  int64
 52  Home Theater             58050 non-null  int64
 53  Aceita Pet               58050 non-null  int64
 54  Academia                 58050 non-null  int64
 55  tipo                     58050 non-null  object
 56  Latitude                 58050 non-null  float64
 57  Longitude                58050 non-null  float64
dtypes: float64(5), int64(44), object(9)
memory usage: 25.7+ MB

In [8]:
df.operacao.value_counts()

operacao
venda      57120
aluguel      930
Name: count, dtype: int64