# Precificador Imobiliário

## Bibliotecas

In [74]:
import pandas as pd
import numpy as np

## Carregamendo da Base

In [75]:
df = pd.read_csv('imoveis.csv')
df

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,SPA,Área de Serviço Coberta,Piso em Porcelanato,Vista Livre,Home Theater,Aceita Pet,Academia,tipo,Latitude,Longitude
0,SQNW 310 Bloco B,5100.0,76.0,67.105263,2,1,2,409,791,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.744342,-47.912500
1,SQNW 302,8500.0,69.0,123.188406,2,2,2,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.768450,-47.910646
2,SCRN 708/709,1620.0,31.0,52.258065,1,1,1,781,410,ASA NORTE,...,0,0,0,0,0,0,0,Kitnet,-15.763582,-47.892389
3,SQS 316,9000.0,240.0,37.500000,4,1,2,SemInformacao,2400,ASA SUL,...,0,0,0,1,0,0,0,Apartamento,-15.829897,-47.927249
4,SQNW 309 Bloco D,11000.0,155.0,70.967742,4,1,2,1319,1845,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.746442,-47.912663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58045,SHIS QI 7,12900000.0,650.0,19846.153846,4,4,4,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,0,0,0,0,Casa,-15.844132,-47.891195
58046,SHIS QL 10,18500000.0,850.0,21764.705882,5,5,6,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,0,0,0,0,Casa,-15.829325,-47.872777
58047,SHA Conjunto 5 Chacará 19A,1500000.0,500.0,3000.000000,4,3,3,SemInformacao,SemInformacao,ARNIQUEIRA,...,0,0,0,0,0,0,0,Casa,31.197678,121.334483
58048,Condomínio Santa Felicidade,1340000.0,250.0,5360.000000,3,3,2,SemInformacao,750,JARDIM BOTANICO,...,0,0,0,0,0,0,0,Casa,-15.572722,-47.333241
58049,SHIS QI 28 Com habite-se,3850000.0,800.0,4812.500000,5,4,2,SemInformacao,SemInformacao,LAGO SUL,...,0,0,0,1,0,0,0,Casa,-16.247671,-47.950348

## Tratamento da Base

### Aluguel

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58050 entries, 0 to 58049
Data columns (total 58 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Título                   58050 non-null  object
 1   Valor                    58050 non-null  float64
 2   area                     58050 non-null  float64
 3   Valor_metro              58050 non-null  float64
 4   quartos                  58050 non-null  int64
 5   suites                   58050 non-null  int64
 6   garagem                  58050 non-null  int64
 7   iptu                     58050 non-null  object
 8   condominio               58050 non-null  object
 9   regiao                   58050 non-null  object
 10  cidade                   58050 non-null  object
 11  imobiliaria              58050 non-null  object
 12  creci                    58050 non-null  object
 13  operacao                 58050 non-null  object
 14  Aquecimento Solar        58050 non-null  int64
 15  Circuito de TV           58050 non-null  int64
 16  Gerador de Energia       58050 non-null  int64
 17  Piscina                  58050 non-null  int64
 18  Sala de Ginástica        58050 non-null  int64
 19  Varanda                  58050 non-null  int64
 20  Cozinha Espaçosa         58050 non-null  int64
 21  Ar Condicionado          58050 non-null  int64
 22  Cobertura Coletiva       58050 non-null  int64
 23  Guarita                  58050 non-null  int64
 24  PlayGround               58050 non-null  int64
 25  Salão de Festas          58050 non-null  int64
 26  Projeto de Iluminação    58050 non-null  int64
 27  Pintura Nova             58050 non-null  int64
 28  Área de Lazer            58050 non-null  int64
 29  Interfone                58050 non-null  int64
 30  Mobiliado                58050 non-null  int64
 31  Área de Serviço          58050 non-null  int64
 32  Brinquedoteca            58050 non-null  int64
 33  Churrasqueira            58050 non-null  int64
 34  Cozinha com Armários     58050 non-null  int64
 35  Despensa                 58050 non-null  int64
 36  Escritório               58050 non-null  int64
 37  Gás Canalizado           58050 non-null  int64
 38  Jardim                   58050 non-null  int64
 39  Lavabo                   58050 non-null  int64
 40  Lazer no Pilotis         58050 non-null  int64
 41  Poço Artesiano           58050 non-null  int64
 42  Portão Eletrônico        58050 non-null  int64
 43  Quadra Esportiva         58050 non-null  int64
 44  Sala de Jogos            58050 non-null  int64
 45  Salão de Jogos           58050 non-null  int64
 46  Salão Gourmet            58050 non-null  int64
 47  Sauna                    58050 non-null  int64
 48  SPA                      58050 non-null  int64
 49  Área de Serviço Coberta  58050 non-null  int64
 50  Piso em Porcelanato      58050 non-null  int64
 51  Vista Livre              58050 non-null  int64
 52  Home Theater             58050 non-null  int64
 53  Aceita Pet               58050 non-null  int64
 54  Academia                 58050 non-null  int64
 55  tipo                     58050 non-null  object
 56  Latitude                 58050 non-null  float64
 57  Longitude                58050 non-null  float64
dtypes: float64(5), int64(44), object(9)
memory usage: 25.7+ MB

In [77]:
df.operacao.value_counts()

operacao
venda      57120
aluguel      930
Name: count, dtype: int64

In [78]:
# Filtrando os registros onde operacao = aluguel
df_aluguel = df.loc[df['operacao'] == 'aluguel']

# Filtrando os registros onde operacao = venda
df_venda = df.loc[df['operacao'] == 'venda']

In [79]:
# # Lista com todas as colunas
todas_colunas = df_aluguel.columns.tolist()

# Excluindo as duas colunas que você não deseja
colunas_a_excluir = ['Título', 'Valor','Latitude','Longitude','area','Valor_metro']  # Substitua 'colunaX' e 'colunaY' pelos nomes das colunas que deseja excluir
colunas_filtradas = [coluna for coluna in todas_colunas if coluna not in colunas_a_excluir]
colunas_filtradas

['quartos',
 'suites',
 'garagem',
 'iptu',
 'condominio',
 'regiao',
 'cidade',
 'imobiliaria',
 'creci',
 'operacao',
 'Aquecimento Solar',
 'Circuito de TV',
 'Gerador de Energia',
 'Piscina',
 'Sala de Ginástica',
 'Varanda',
 'Cozinha Espaçosa',
 'Ar Condicionado',
 'Cobertura Coletiva',
 'Guarita',
 'PlayGround',
 'Salão de Festas',
 'Projeto de Iluminação',
 'Pintura Nova',
 'Área de Lazer',
 'Interfone',
 'Mobiliado',
 'Área de Serviço',
 'Brinquedoteca',
 'Churrasqueira',
 'Cozinha com Armários',
 'Despensa',
 'Escritório',
 'Gás Canalizado',
 'Jardim',
 'Lavabo',
 'Lazer no Pilotis',
 'Poço Artesiano',
 'Portão Eletrônico',
 'Quadra Esportiva',
 'Sala de Jogos',
 'Salão de Jogos',
 'Salão Gourmet',
 'Sauna',
 'SPA',
 'Área de Serviço Coberta',
 'Piso em Porcelanato',
 'Vista Livre',
 'Home Theater',
 'Aceita Pet',
 'Academia',
 'tipo']

In [80]:
# Iterando sobre cada coluna e imprimindo seus value counts
for i in colunas_filtradas:
    print(f'Value counts para a coluna {i}:')
    print(df_aluguel[i].value_counts())
    print('\n')

Value counts para a coluna quartos:
quartos
1    372
4    217
2    186
3    155
Name: count, dtype: int64


Value counts para a coluna suites:
suites
1    558
2    155
3     93
0     62
4     62
Name: count, dtype: int64


Value counts para a coluna garagem:
garagem
1    496
2    248
3     62
4     62
0     31
5     31
Name: count, dtype: int64


Value counts para a coluna iptu:
iptu
SemInformacao    527
409               31
781               31
1319              31
570               31
5067              31
432               31
352               31
56                31
405               31
2500              31
2601              31
1220              31
272               31
Name: count, dtype: int64


Value counts para a coluna condominio:
condominio
SemInformacao    186
410              155
1100              62
600               62
3200              31
1450              31
690               31
750               31
1350              31
1800              31
2500              31
791               31
2864              31
1460              31
409               31
1346              31
1845              31
2400              31
1253              31
Name: count, dtype: int64


Value counts para a coluna regiao:
regiao
NOROESTE     310
SUDOESTE     217
PARK SUL     155
ASA NORTE    124
ASA SUL      124
Name: count, dtype: int64


Value counts para a coluna cidade:
cidade
BRASÍLIA - NOROESTE     310
BRASÍLIA - SUDOESTE     217
BRASÍLIA - PARK SUL     155
BRASÍLIA - ASA NORTE    124
BRASÍLIA - ASA SUL      124
Name: count, dtype: int64


Value counts para a coluna imobiliaria:
imobiliaria
Top line                                             155
Private Broker                                        93
Futura Consultoria e Negócios                         62
Artiaga Imóveis                                       31
RE/MAX Prime                                          31
Construtora Santa Tereza                              31
FGM Imóveis                                           31
WRP MALL Imóveis                                      31
Branco Imóveis                                        31
Curadoria de Imóveis                                  31
Conexão Brasília                                      31
Agiliza Imóveis                                       31
Eduardo Garcia Assessoria Imobiliária                 31
Scalercio Imobiliária                                 31
Neves Teixeira Imóveis                                31
TL Imóveis                                            31
Amanda Leão                                           31
DDA Diógenes                                          31
Imobiliária Ville                                     31
Park Imob                                             31
Brandt imóveis                                        31
Granville Negócios Imobiliários                       31
José Martins Soluções Desenvolvimento Imobiliário     31
Name: count, dtype: int64


Value counts para a coluna creci:
creci
6955       155
28860J      93
CJ24892     62
8192        31
24102       31
16734       31
28710       31
8951        31
7378J       31
24482       31
24791       31
30716       31
13136       31
CJ25006     31
29560       31
5776        31
27913       31
9844        31
25550       31
26606       31
10856       31
23201       31
19000       31
Name: count, dtype: int64


Value counts para a coluna operacao:
operacao
aluguel    930
Name: count, dtype: int64


Value counts para a coluna Aquecimento Solar:
Aquecimento Solar
0    744
1    186
Name: count, dtype: int64


Value counts para a coluna Circuito de TV:
Circuito de TV
0    930
Name: count, dtype: int64


Value counts para a coluna Gerador de Energia:
Gerador de Energia
0    806
1    124
Name: count, dtype: int64


Value counts para a coluna Piscina:
Piscina
1    496
0    434
Name: count, dtype: int64


Value counts para a coluna Sala de Ginástica:
Sala de Ginástica
0    713
1    217
Name: count, dtype: int64


Value counts para a coluna Varanda:
Varanda
0    682
1    248
Name: count, dtype: int64


Value counts para a coluna Cozinha Espaçosa:
Cozinha Espaçosa
0    713
1    217
Name: count, dtype: int64


Value counts para a coluna Ar Condicionado:
Ar Condicionado
0    930
Name: count, dtype: int64


Value counts para a coluna Cobertura Coletiva:
Cobertura Coletiva
0    930
Name: count, dtype: int64


Value counts para a coluna Guarita:
Guarita
0    527
1    403
Name: count, dtype: int64


Value counts para a coluna PlayGround:
PlayGround
0    713
1    217
Name: count, dtype: int64


Value counts para a coluna Salão de Festas:
Salão de Festas
0    651
1    279
Name: count, dtype: int64


Value counts para a coluna Projeto de Iluminação:
Projeto de Iluminação
0    558
1    372
Name: count, dtype: int64


Value counts para a coluna Pintura Nova:
Pintura Nova
0    868
1     62
Name: count, dtype: int64


Value counts para a coluna Área de Lazer:
Área de Lazer
0    682
1    248
Name: count, dtype: int64


Value counts para a coluna Interfone:
Interfone
0    527
1    403
Name: count, dtype: int64


Value counts para a coluna Mobiliado:
Mobiliado
0    496
1    434
Name: count, dtype: int64


Value counts para a coluna Área de Serviço:
Área de Serviço
0    775
1    155
Name: count, dtype: int64


Value counts para a coluna Brinquedoteca:
Brinquedoteca
0    930
Name: count, dtype: int64


Value counts para a coluna Churrasqueira:
Churrasqueira
0    930
Name: count, dtype: int64


Value counts para a coluna Cozinha com Armários:
Cozinha com Armários
0    930
Name: count, dtype: int64


Value counts para a coluna Despensa:
Despensa
0    930
Name: count, dtype: int64


Value counts para a coluna Escritório:
Escritório
0    930
Name: count, dtype: int64


Value counts para a coluna Gás Canalizado:
Gás Canalizado
0    930
Name: count, dtype: int64


Value counts para a coluna Jardim:
Jardim
0    620
1    310
Name: count, dtype: int64


Value counts para a coluna Lavabo:
Lavabo
0    744
1    186
Name: count, dtype: int64


Value counts para a coluna Lazer no Pilotis:
Lazer no Pilotis
0    775
1    155
Name: count, dtype: int64


Value counts para a coluna Poço Artesiano:
Poço Artesiano
0    868
1     62
Name: count, dtype: int64


Value counts para a coluna Portão Eletrônico:
Portão Eletrônico
0    496
1    434
Name: count, dtype: int64


Value counts para a coluna Quadra Esportiva:
Quadra Esportiva
0    930
Name: count, dtype: int64


Value counts para a coluna Sala de Jogos:
Sala de Jogos
0    775
1    155
Name: count, dtype: int64


Value counts para a coluna Salão de Jogos:
Salão de Jogos
0    806
1    124
Name: count, dtype: int64


Value counts para a coluna Salão Gourmet:
Salão Gourmet
0    930
Name: count, dtype: int64


Value counts para a coluna Sauna:
Sauna
0    589
1    341
Name: count, dtype: int64


Value counts para a coluna SPA:
SPA
0    868
1     62
Name: count, dtype: int64


Value counts para a coluna Área de Serviço Coberta:
Área de Serviço Coberta
0    930
Name: count, dtype: int64


Value counts para a coluna Piso em Porcelanato:
Piso em Porcelanato
0    930
Name: count, dtype: int64


Value counts para a coluna Vista Livre:
Vista Livre
0    589
1    341
Name: count, dtype: int64


Value counts para a coluna Home Theater:
Home Theater
0    837
1     93
Name: count, dtype: int64


Value counts para a coluna Aceita Pet:
Aceita Pet
0    930
Name: count, dtype: int64


Value counts para a coluna Academia:
Academia
0    930
Name: count, dtype: int64


Value counts para a coluna tipo:
tipo
Apartamento    744
Kitnet         186
Name: count, dtype: int64

In [81]:
df_aluguel

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,SPA,Área de Serviço Coberta,Piso em Porcelanato,Vista Livre,Home Theater,Aceita Pet,Academia,tipo,Latitude,Longitude
0,SQNW 310 Bloco B,5100.0,76.0,67.105263,2,1,2,409,791,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.744342,-47.912500
1,SQNW 302,8500.0,69.0,123.188406,2,2,2,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.768450,-47.910646
2,SCRN 708/709,1620.0,31.0,52.258065,1,1,1,781,410,ASA NORTE,...,0,0,0,0,0,0,0,Kitnet,-15.763582,-47.892389
3,SQS 316,9000.0,240.0,37.500000,4,1,2,SemInformacao,2400,ASA SUL,...,0,0,0,1,0,0,0,Apartamento,-15.829897,-47.927249
4,SQNW 309 Bloco D,11000.0,155.0,70.967742,4,1,2,1319,1845,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.746442,-47.912663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,CLNW 2/3 Lote K - Ed. Icone Noroeste,4320.0,48.0,90.000000,2,1,1,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.760204,-47.910740
926,SQNW 103 Bloco B,5600.0,77.0,72.727273,2,1,1,2601,SemInformacao,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.764111,-47.908951
927,SHCGN 703 Bloco R,2665.0,39.0,68.333333,1,0,1,1220,690,ASA NORTE,...,0,0,0,1,0,0,0,Apartamento,-15.764934,-47.893420
928,SQSW 305 Bloco J,9000.0,182.0,49.450549,4,2,3,SemInformacao,1450,SUDOESTE,...,0,0,0,0,0,0,0,Apartamento,-15.804064,-47.931765
929,SGCV Lote 27,5200.0,74.0,70.270270,2,1,2,272,1253,PARK SUL,...,0,0,0,0,0,0,0,Apartamento,-15.824494,-47.953857

In [82]:
# excluindo colunas que só tem 0 
# Lista de colunas a serem removidas
colunas_remover = ['Circuito de TV', 'Ar Condicionado', 'Cobertura Coletiva', 
                   'Brinquedoteca', 'Churrasqueira', 'Cozinha com Armários', 
                   'Despensa', 'Escritório', 'Gás Canalizado', 
                   'Quadra Esportiva', 'Salão Gourmet', 
                   'Área de Serviço Coberta', 'Piso em Porcelanato', 
                   'Aceita Pet', 'Academia', 'operacao']

# Removendo as colunas do DataFrame
df_aluguel = df_aluguel.drop(columns=colunas_remover)
df_aluguel

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo,Latitude,Longitude
0,SQNW 310 Bloco B,5100.0,76.0,67.105263,2,1,2,409,791,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.744342,-47.912500
1,SQNW 302,8500.0,69.0,123.188406,2,2,2,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,0,0,1,0,Apartamento,-15.768450,-47.910646
2,SCRN 708/709,1620.0,31.0,52.258065,1,1,1,781,410,ASA NORTE,...,0,0,0,0,0,0,0,Kitnet,-15.763582,-47.892389
3,SQS 316,9000.0,240.0,37.500000,4,1,2,SemInformacao,2400,ASA SUL,...,0,0,0,0,0,1,0,Apartamento,-15.829897,-47.927249
4,SQNW 309 Bloco D,11000.0,155.0,70.967742,4,1,2,1319,1845,NOROESTE,...,1,0,0,1,0,0,0,Apartamento,-15.746442,-47.912663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,CLNW 2/3 Lote K - Ed. Icone Noroeste,4320.0,48.0,90.000000,2,1,1,SemInformacao,SemInformacao,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.760204,-47.910740
926,SQNW 103 Bloco B,5600.0,77.0,72.727273,2,1,1,2601,SemInformacao,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.764111,-47.908951
927,SHCGN 703 Bloco R,2665.0,39.0,68.333333,1,0,1,1220,690,ASA NORTE,...,1,1,0,0,0,1,0,Apartamento,-15.764934,-47.893420
928,SQSW 305 Bloco J,9000.0,182.0,49.450549,4,2,3,SemInformacao,1450,SUDOESTE,...,0,0,0,0,0,0,0,Apartamento,-15.804064,-47.931765
929,SGCV Lote 27,5200.0,74.0,70.270270,2,1,2,272,1253,PARK SUL,...,0,0,0,1,0,0,0,Apartamento,-15.824494,-47.953857

In [83]:
df_aluguel['iptu'] = pd.to_numeric(df['iptu'], errors='coerce')
df_aluguel['condominio'] = pd.to_numeric(df['condominio'], errors='coerce')


# Calcular a mediana de cada coluna
mediana_iptu = df_aluguel['iptu'].median()
mediana_condominio = df_aluguel['condominio'].median()

# Preencher os valores NaN nas colunas com as medianas correspondentes
df_aluguel['iptu'].fillna(mediana_iptu, inplace=True)
df_aluguel['condominio'].fillna(mediana_condominio, inplace=True)
df_aluguel

C:\Users\engra\AppData\Local\Temp\ipykernel_10032\153936575.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_aluguel['iptu'].fillna(mediana_iptu, inplace=True)
C:\Users\engra\AppData\Local\Temp\ipykernel_10032\153936575.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_aluguel['condominio'].fillna(mediana_condominio, inplace=True)

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo,Latitude,Longitude
0,SQNW 310 Bloco B,5100.0,76.0,67.105263,2,1,2,409.0,791.0,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.744342,-47.912500
1,SQNW 302,8500.0,69.0,123.188406,2,2,2,570.0,1100.0,NOROESTE,...,0,0,0,0,0,1,0,Apartamento,-15.768450,-47.910646
2,SCRN 708/709,1620.0,31.0,52.258065,1,1,1,781.0,410.0,ASA NORTE,...,0,0,0,0,0,0,0,Kitnet,-15.763582,-47.892389
3,SQS 316,9000.0,240.0,37.500000,4,1,2,570.0,2400.0,ASA SUL,...,0,0,0,0,0,1,0,Apartamento,-15.829897,-47.927249
4,SQNW 309 Bloco D,11000.0,155.0,70.967742,4,1,2,1319.0,1845.0,NOROESTE,...,1,0,0,1,0,0,0,Apartamento,-15.746442,-47.912663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,CLNW 2/3 Lote K - Ed. Icone Noroeste,4320.0,48.0,90.000000,2,1,1,570.0,1100.0,NOROESTE,...,0,0,0,0,0,0,0,Apartamento,-15.760204,-47.910740
926,SQNW 103 Bloco B,5600.0,77.0,72.727273,2,1,1,2601.0,1100.0,NOROESTE,...,0,0,0,1,0,0,0,Apartamento,-15.764111,-47.908951
927,SHCGN 703 Bloco R,2665.0,39.0,68.333333,1,0,1,1220.0,690.0,ASA NORTE,...,1,1,0,0,0,1,0,Apartamento,-15.764934,-47.893420
928,SQSW 305 Bloco J,9000.0,182.0,49.450549,4,2,3,570.0,1450.0,SUDOESTE,...,0,0,0,0,0,0,0,Apartamento,-15.804064,-47.931765
929,SGCV Lote 27,5200.0,74.0,70.270270,2,1,2,272.0,1253.0,PARK SUL,...,0,0,0,1,0,0,0,Apartamento,-15.824494,-47.953857

In [84]:
# retirar mais colunas que nao farão sentido no modelo
df_aluguel = df_aluguel.drop(['Título','Valor_metro','Latitude','Longitude'],axis=1)
df_aluguel

,Valor,area,quartos,suites,garagem,iptu,condominio,regiao,cidade,imobiliaria,...,Lazer no Pilotis,Poço Artesiano,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo
0,5100.0,76.0,2,1,2,409.0,791.0,NOROESTE,BRASÍLIA - NOROESTE,Artiaga Imóveis,...,0,0,0,0,0,1,0,0,0,Apartamento
1,8500.0,69.0,2,2,2,570.0,1100.0,NOROESTE,BRASÍLIA - NOROESTE,Neves Teixeira Imóveis,...,0,0,0,0,0,0,0,1,0,Apartamento
2,1620.0,31.0,1,1,1,781.0,410.0,ASA NORTE,BRASÍLIA - ASA NORTE,Granville Negócios Imobiliários,...,0,0,0,0,0,0,0,0,0,Kitnet
3,9000.0,240.0,4,1,2,570.0,2400.0,ASA SUL,BRASÍLIA - ASA SUL,Brandt imóveis,...,0,0,0,0,0,0,0,1,0,Apartamento
4,11000.0,155.0,4,1,2,1319.0,1845.0,NOROESTE,BRASÍLIA - NOROESTE,Park Imob,...,0,0,1,0,0,1,0,0,0,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,4320.0,48.0,2,1,1,570.0,1100.0,NOROESTE,BRASÍLIA - NOROESTE,WRP MALL Imóveis,...,0,0,0,0,0,0,0,0,0,Apartamento
926,5600.0,77.0,2,1,1,2601.0,1100.0,NOROESTE,BRASÍLIA - NOROESTE,FGM Imóveis,...,0,0,0,0,0,1,0,0,0,Apartamento
927,2665.0,39.0,1,0,1,1220.0,690.0,ASA NORTE,BRASÍLIA - ASA NORTE,Construtora Santa Tereza,...,1,0,1,1,0,0,0,1,0,Apartamento
928,9000.0,182.0,4,2,3,570.0,1450.0,SUDOESTE,BRASÍLIA - SUDOESTE,RE/MAX Prime,...,0,0,0,0,0,0,0,0,0,Apartamento
929,5200.0,74.0,2,1,2,272.0,1253.0,PARK SUL,BRASÍLIA - PARK SUL,José Martins Soluções Desenvolvimento Imobiliário,...,0,0,0,0,0,1,0,0,0,Apartamento

### Venda

In [85]:
# # Lista com todas as colunas
todas_colunas = df_venda.columns.tolist()

# Excluindo as duas colunas que você não deseja
colunas_a_excluir = ['Título', 'Valor','Latitude','Longitude','area','Valor_metro']  # Substitua 'colunaX' e 'colunaY' pelos nomes das colunas que deseja excluir
colunas_filtradas = [coluna for coluna in todas_colunas if coluna not in colunas_a_excluir]
colunas_filtradas

['quartos',
 'suites',
 'garagem',
 'iptu',
 'condominio',
 'regiao',
 'cidade',
 'imobiliaria',
 'creci',
 'operacao',
 'Aquecimento Solar',
 'Circuito de TV',
 'Gerador de Energia',
 'Piscina',
 'Sala de Ginástica',
 'Varanda',
 'Cozinha Espaçosa',
 'Ar Condicionado',
 'Cobertura Coletiva',
 'Guarita',
 'PlayGround',
 'Salão de Festas',
 'Projeto de Iluminação',
 'Pintura Nova',
 'Área de Lazer',
 'Interfone',
 'Mobiliado',
 'Área de Serviço',
 'Brinquedoteca',
 'Churrasqueira',
 'Cozinha com Armários',
 'Despensa',
 'Escritório',
 'Gás Canalizado',
 'Jardim',
 'Lavabo',
 'Lazer no Pilotis',
 'Poço Artesiano',
 'Portão Eletrônico',
 'Quadra Esportiva',
 'Sala de Jogos',
 'Salão de Jogos',
 'Salão Gourmet',
 'Sauna',
 'SPA',
 'Área de Serviço Coberta',
 'Piso em Porcelanato',
 'Vista Livre',
 'Home Theater',
 'Aceita Pet',
 'Academia',
 'tipo']

In [86]:
# Iterando sobre cada coluna e imprimindo seus value counts
for i in colunas_filtradas:
    print(f'Value counts para a coluna {i}:')
    print(df_venda[i].value_counts())
    print('\n')

Value counts para a coluna quartos:
quartos
4    19040
5    15232
3    11424
1     3808
0     3808
2     1904
6     1904
Name: count, dtype: int64


Value counts para a coluna suites:
suites
4    15232
3    13328
1    13328
0     7616
5     5712
6     1904
Name: count, dtype: int64


Value counts para a coluna garagem:
garagem
2    13328
4    13328
6     9520
0     7616
3     7616
1     3808
5     1904
Name: count, dtype: int64


Value counts para a coluna iptu:
iptu
SemInformacao    30464
1900              3808
1590              1904
2895              1904
4200              1904
2084              1904
1156              1904
3900              1904
818               1904
280               1904
1544              1904
3515              1904
4500              1904
533               1904
Name: count, dtype: int64


Value counts para a coluna condominio:
condominio
SemInformacao    22848
620               3808
500               1904
150               1904
2200              1904
400               1904
450               1904
619               1904
1800              1904
471               1904
1310              1904
1200              1904
650               1904
425               1904
1050              1904
1600              1904
2566              1904
750               1904
Name: count, dtype: int64


Value counts para a coluna regiao:
regiao
LAGO SUL           15232
JARDIM BOTANICO    13328
NOROESTE            5712
PARK WAY            5712
SUL                 3808
ASA NORTE           3808
ARNIQUEIRA          3808
ASA SUL             1904
NORTE               1904
GUARA II            1904
Name: count, dtype: int64


Value counts para a coluna cidade:
cidade
BRASÍLIA - LAGO SUL           15232
BRASÍLIA - JARDIM BOTANICO    13328
BRASÍLIA - NOROESTE            5712
BRASÍLIA - PARK WAY            5712
ÁGUAS CLARAS - SUL             3808
BRASÍLIA - ASA NORTE           3808
ÁGUAS CLARAS - ARNIQUEIRA      3808
BRASÍLIA - ASA SUL             1904
ÁGUAS CLARAS - NORTE           1904
GUARÁ - GUARA II               1904
Name: count, dtype: int64


Value counts para a coluna imobiliaria:
imobiliaria
Daniel Ferreira Corretor                             11424
Bordalo PRIME Imobiliária                             9520
Kontá Imóveis                                         5712
Soma Imóveis                                          5712
4D Imóveis                                            3808
Elo imóveis                                           3808
LUBO Imóveis                                          3808
Thaís Imobiliaria                                     3808
Yani Netimóveis                                       3808
Neves Teixeira Imóveis                                1904
C & S Consultoria Imobiliária                         1904
José Martins Soluções Desenvolvimento Imobiliário     1904
Name: count, dtype: int64


Value counts para a coluna creci:
creci
12668     11424
23761      9520
26203      5712
26903      5712
28177      3808
3133       3808
22089      3808
CJ1704     3808
13036      3808
29560      1904
27562      1904
19000      1904
Name: count, dtype: int64


Value counts para a coluna operacao:
operacao
venda    57120
Name: count, dtype: int64


Value counts para a coluna Aquecimento Solar:
Aquecimento Solar
0    34272
1    22848
Name: count, dtype: int64


Value counts para a coluna Circuito de TV:
Circuito de TV
0    57120
Name: count, dtype: int64


Value counts para a coluna Gerador de Energia:
Gerador de Energia
0    55216
1     1904
Name: count, dtype: int64


Value counts para a coluna Piscina:
Piscina
1    39984
0    17136
Name: count, dtype: int64


Value counts para a coluna Sala de Ginástica:
Sala de Ginástica
0    43792
1    13328
Name: count, dtype: int64


Value counts para a coluna Varanda:
Varanda
1    30464
0    26656
Name: count, dtype: int64


Value counts para a coluna Cozinha Espaçosa:
Cozinha Espaçosa
0    34272
1    22848
Name: count, dtype: int64


Value counts para a coluna Ar Condicionado:
Ar Condicionado
0    57065
1       55
Name: count, dtype: int64


Value counts para a coluna Cobertura Coletiva:
Cobertura Coletiva
0    57120
Name: count, dtype: int64


Value counts para a coluna Guarita:
Guarita
0    34272
1    22848
Name: count, dtype: int64


Value counts para a coluna PlayGround:
PlayGround
0    39984
1    17136
Name: count, dtype: int64


Value counts para a coluna Salão de Festas:
Salão de Festas
0    39984
1    17136
Name: count, dtype: int64


Value counts para a coluna Projeto de Iluminação:
Projeto de Iluminação
0    41888
1    15232
Name: count, dtype: int64


Value counts para a coluna Pintura Nova:
Pintura Nova
0    43792
1    13328
Name: count, dtype: int64


Value counts para a coluna Área de Lazer:
Área de Lazer
1    28560
0    28560
Name: count, dtype: int64


Value counts para a coluna Interfone:
Interfone
1    34272
0    22848
Name: count, dtype: int64


Value counts para a coluna Mobiliado:
Mobiliado
0    53312
1     3808
Name: count, dtype: int64


Value counts para a coluna Área de Serviço:
Área de Serviço
1    30464
0    26656
Name: count, dtype: int64


Value counts para a coluna Brinquedoteca:
Brinquedoteca
0    57120
Name: count, dtype: int64


Value counts para a coluna Churrasqueira:
Churrasqueira
0    57120
Name: count, dtype: int64


Value counts para a coluna Cozinha com Armários:
Cozinha com Armários
0    57120
Name: count, dtype: int64


Value counts para a coluna Despensa:
Despensa
0    57120
Name: count, dtype: int64


Value counts para a coluna Escritório:
Escritório
0    57120
Name: count, dtype: int64


Value counts para a coluna Gás Canalizado:
Gás Canalizado
0    57120
Name: count, dtype: int64


Value counts para a coluna Jardim:
Jardim
0    30464
1    26656
Name: count, dtype: int64


Value counts para a coluna Lavabo:
Lavabo
1    30464
0    26656
Name: count, dtype: int64


Value counts para a coluna Lazer no Pilotis:
Lazer no Pilotis
0    47600
1     9520
Name: count, dtype: int64


Value counts para a coluna Poço Artesiano:
Poço Artesiano
0    55216
1     1904
Name: count, dtype: int64


Value counts para a coluna Portão Eletrônico:
Portão Eletrônico
1    28560
0    28560
Name: count, dtype: int64


Value counts para a coluna Quadra Esportiva:
Quadra Esportiva
0    57120
Name: count, dtype: int64


Value counts para a coluna Sala de Jogos:
Sala de Jogos
0    47600
1     9520
Name: count, dtype: int64


Value counts para a coluna Salão de Jogos:
Salão de Jogos
0    47600
1     9520
Name: count, dtype: int64


Value counts para a coluna Salão Gourmet:
Salão Gourmet
0    57120
Name: count, dtype: int64


Value counts para a coluna Sauna:
Sauna
0    32368
1    24752
Name: count, dtype: int64


Value counts para a coluna SPA:
SPA
0    49504
1     7616
Name: count, dtype: int64


Value counts para a coluna Área de Serviço Coberta:
Área de Serviço Coberta
0    57120
Name: count, dtype: int64


Value counts para a coluna Piso em Porcelanato:
Piso em Porcelanato
0    57120
Name: count, dtype: int64


Value counts para a coluna Vista Livre:
Vista Livre
0    36176
1    20944
Name: count, dtype: int64


Value counts para a coluna Home Theater:
Home Theater
0    51408
1     5712
Name: count, dtype: int64


Value counts para a coluna Aceita Pet:
Aceita Pet
0    57120
Name: count, dtype: int64


Value counts para a coluna Academia:
Academia
0    57120
Name: count, dtype: int64


Value counts para a coluna tipo:
tipo
Casa                 34272
Apartamento          17136
Lote/Terreno/Área     3808
Kitnet                1904
Name: count, dtype: int64

In [87]:
# excluindo colunas que só tem 0 
# Lista de colunas a serem removidas
colunas_remover = ['Circuito de TV', 'Ar Condicionado', 'Cobertura Coletiva', 
                   'Brinquedoteca', 'Churrasqueira', 'Cozinha com Armários', 
                   'Despensa', 'Escritório', 'Gás Canalizado', 
                   'Quadra Esportiva', 'Salão Gourmet', 
                   'Área de Serviço Coberta', 'Piso em Porcelanato', 
                   'Aceita Pet', 'Academia', 'operacao']

# Removendo as colunas do DataFrame
df_venda = df_venda.drop(columns=colunas_remover)
df_venda

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo,Latitude,Longitude
930,Condomínio Santa Bárbara Condomínio Santa Bárbara,1290000.0,473.95,2721.806098,5,3,6,1590,SemInformacao,JARDIM BOTANICO,...,1,0,0,0,0,1,0,Casa,-15.961843,-47.821131
931,SQS 304,2850000.0,177.00,16101.694915,3,1,0,SemInformacao,1310,ASA SUL,...,0,0,0,0,0,1,0,Apartamento,-15.806485,-47.896157
932,SHIS QI 25,4590000.0,550.00,8345.454545,4,4,2,SemInformacao,SemInformacao,LAGO SUL,...,1,0,0,1,0,0,0,Casa,-15.843989,-47.836671
933,Quadra 206 - Sagitarius Residencial Resort,3490000.0,282.00,12375.886525,4,4,4,2895,2566,SUL,...,1,1,1,1,1,1,1,Apartamento,-23.299332,-48.054657
934,SQNW 104 Bloco J,2095000.0,141.00,14858.156028,3,3,2,4200,1600,NOROESTE,...,1,1,1,1,0,1,0,Apartamento,-15.758636,-47.911805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58045,SHIS QI 7,12900000.0,650.00,19846.153846,4,4,4,SemInformacao,SemInformacao,LAGO SUL,...,1,0,0,0,0,0,0,Casa,-15.844132,-47.891195
58046,SHIS QL 10,18500000.0,850.00,21764.705882,5,5,6,SemInformacao,SemInformacao,LAGO SUL,...,1,0,0,1,0,0,0,Casa,-15.829325,-47.872777
58047,SHA Conjunto 5 Chacará 19A,1500000.0,500.00,3000.000000,4,3,3,SemInformacao,SemInformacao,ARNIQUEIRA,...,0,0,0,0,0,0,0,Casa,31.197678,121.334483
58048,Condomínio Santa Felicidade,1340000.0,250.00,5360.000000,3,3,2,SemInformacao,750,JARDIM BOTANICO,...,0,0,0,0,0,0,0,Casa,-15.572722,-47.333241
58049,SHIS QI 28 Com habite-se,3850000.0,800.00,4812.500000,5,4,2,SemInformacao,SemInformacao,LAGO SUL,...,1,0,0,0,0,1,0,Casa,-16.247671,-47.950348

In [88]:
df_venda['iptu'] = pd.to_numeric(df['iptu'], errors='coerce')
df_venda['condominio'] = pd.to_numeric(df['condominio'], errors='coerce')


# Calcular a mediana de cada coluna
mediana_iptu = df_venda['iptu'].median()
mediana_condominio = df_venda['condominio'].median()

# Preencher os valores NaN nas colunas com as medianas correspondentes
df_venda['iptu'].fillna(mediana_iptu, inplace=True)
df_venda['condominio'].fillna(mediana_condominio, inplace=True)
df_venda

C:\Users\engra\AppData\Local\Temp\ipykernel_10032\785419671.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_venda['iptu'].fillna(mediana_iptu, inplace=True)
C:\Users\engra\AppData\Local\Temp\ipykernel_10032\785419671.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_venda['condominio'].fillna(mediana_condominio, inplace=True)

,Título,Valor,area,Valor_metro,quartos,suites,garagem,iptu,condominio,regiao,...,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo,Latitude,Longitude
930,Condomínio Santa Bárbara Condomínio Santa Bárbara,1290000.0,473.95,2721.806098,5,3,6,1590.0,635.0,JARDIM BOTANICO,...,1,0,0,0,0,1,0,Casa,-15.961843,-47.821131
931,SQS 304,2850000.0,177.00,16101.694915,3,1,0,1900.0,1310.0,ASA SUL,...,0,0,0,0,0,1,0,Apartamento,-15.806485,-47.896157
932,SHIS QI 25,4590000.0,550.00,8345.454545,4,4,2,1900.0,635.0,LAGO SUL,...,1,0,0,1,0,0,0,Casa,-15.843989,-47.836671
933,Quadra 206 - Sagitarius Residencial Resort,3490000.0,282.00,12375.886525,4,4,4,2895.0,2566.0,SUL,...,1,1,1,1,1,1,1,Apartamento,-23.299332,-48.054657
934,SQNW 104 Bloco J,2095000.0,141.00,14858.156028,3,3,2,4200.0,1600.0,NOROESTE,...,1,1,1,1,0,1,0,Apartamento,-15.758636,-47.911805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58045,SHIS QI 7,12900000.0,650.00,19846.153846,4,4,4,1900.0,635.0,LAGO SUL,...,1,0,0,0,0,0,0,Casa,-15.844132,-47.891195
58046,SHIS QL 10,18500000.0,850.00,21764.705882,5,5,6,1900.0,635.0,LAGO SUL,...,1,0,0,1,0,0,0,Casa,-15.829325,-47.872777
58047,SHA Conjunto 5 Chacará 19A,1500000.0,500.00,3000.000000,4,3,3,1900.0,635.0,ARNIQUEIRA,...,0,0,0,0,0,0,0,Casa,31.197678,121.334483
58048,Condomínio Santa Felicidade,1340000.0,250.00,5360.000000,3,3,2,1900.0,750.0,JARDIM BOTANICO,...,0,0,0,0,0,0,0,Casa,-15.572722,-47.333241
58049,SHIS QI 28 Com habite-se,3850000.0,800.00,4812.500000,5,4,2,1900.0,635.0,LAGO SUL,...,1,0,0,0,0,1,0,Casa,-16.247671,-47.950348

In [89]:
# retirar mais colunas que nao farão sentido no modelo
df_venda = df_venda.drop(['Título','Valor_metro','Latitude','Longitude'],axis=1)
df_venda

,Valor,area,quartos,suites,garagem,iptu,condominio,regiao,cidade,imobiliaria,...,Lazer no Pilotis,Poço Artesiano,Portão Eletrônico,Sala de Jogos,Salão de Jogos,Sauna,SPA,Vista Livre,Home Theater,tipo
930,1290000.0,473.95,5,3,6,1590.0,635.0,JARDIM BOTANICO,BRASÍLIA - JARDIM BOTANICO,Daniel Ferreira Corretor,...,0,0,1,0,0,0,0,1,0,Casa
931,2850000.0,177.00,3,1,0,1900.0,1310.0,ASA SUL,BRASÍLIA - ASA SUL,Neves Teixeira Imóveis,...,0,0,0,0,0,0,0,1,0,Apartamento
932,4590000.0,550.00,4,4,2,1900.0,635.0,LAGO SUL,BRASÍLIA - LAGO SUL,Bordalo PRIME Imobiliária,...,0,0,1,0,0,1,0,0,0,Casa
933,3490000.0,282.00,4,4,4,2895.0,2566.0,SUL,ÁGUAS CLARAS - SUL,Kontá Imóveis,...,1,0,1,1,1,1,1,1,1,Apartamento
934,2095000.0,141.00,3,3,2,4200.0,1600.0,NOROESTE,BRASÍLIA - NOROESTE,Kontá Imóveis,...,1,0,1,1,1,1,0,1,0,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58045,12900000.0,650.00,4,4,4,1900.0,635.0,LAGO SUL,BRASÍLIA - LAGO SUL,Bordalo PRIME Imobiliária,...,0,0,1,0,0,0,0,0,0,Casa
58046,18500000.0,850.00,5,5,6,1900.0,635.0,LAGO SUL,BRASÍLIA - LAGO SUL,Bordalo PRIME Imobiliária,...,0,0,1,0,0,1,0,0,0,Casa
58047,1500000.0,500.00,4,3,3,1900.0,635.0,ARNIQUEIRA,ÁGUAS CLARAS - ARNIQUEIRA,Soma Imóveis,...,0,0,0,0,0,0,0,0,0,Casa
58048,1340000.0,250.00,3,3,2,1900.0,750.0,JARDIM BOTANICO,BRASÍLIA - JARDIM BOTANICO,Daniel Ferreira Corretor,...,0,0,0,0,0,0,0,0,0,Casa
58049,3850000.0,800.00,5,4,2,1900.0,635.0,LAGO SUL,BRASÍLIA - LAGO SUL,Daniel Ferreira Corretor,...,0,1,1,0,0,0,0,1,0,Casa

## Separação e Normalização de dados

In [90]:
df_venda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57120 entries, 930 to 58049
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Valor                  57120 non-null  float64
 1   area                   57120 non-null  float64
 2   quartos                57120 non-null  int64
 3   suites                 57120 non-null  int64
 4   garagem                57120 non-null  int64
 5   iptu                   57120 non-null  float64
 6   condominio             57120 non-null  float64
 7   regiao                 57120 non-null  object
 8   cidade                 57120 non-null  object
 9   imobiliaria            57120 non-null  object
 10  creci                  57120 non-null  object
 11  Aquecimento Solar      57120 non-null  int64
 12  Gerador de Energia     57120 non-null  int64
 13  Piscina                57120 non-null  int64
 14  Sala de Ginástica      57120 non-null  int64
 15  Varanda                57120 non-null  int64
 16  Cozinha Espaçosa       57120 non-null  int64
 17  Guarita                57120 non-null  int64
 18  PlayGround             57120 non-null  int64
 19  Salão de Festas        57120 non-null  int64
 20  Projeto de Iluminação  57120 non-null  int64
 21  Pintura Nova           57120 non-null  int64
 22  Área de Lazer          57120 non-null  int64
 23  Interfone              57120 non-null  int64
 24  Mobiliado              57120 non-null  int64
 25  Área de Serviço        57120 non-null  int64
 26  Jardim                 57120 non-null  int64
 27  Lavabo                 57120 non-null  int64
 28  Lazer no Pilotis       57120 non-null  int64
 29  Poço Artesiano         57120 non-null  int64
 30  Portão Eletrônico      57120 non-null  int64
 31  Sala de Jogos          57120 non-null  int64
 32  Salão de Jogos         57120 non-null  int64
 33  Sauna                  57120 non-null  int64
 34  SPA                    57120 non-null  int64
 35  Vista Livre            57120 non-null  int64
 36  Home Theater           57120 non-null  int64
 37  tipo                   57120 non-null  object
dtypes: float64(4), int64(29), object(5)
memory usage: 17.0+ MB

In [91]:
df_aluguel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, 0 to 929
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Valor                  930 non-null    float64
 1   area                   930 non-null    float64
 2   quartos                930 non-null    int64
 3   suites                 930 non-null    int64
 4   garagem                930 non-null    int64
 5   iptu                   930 non-null    float64
 6   condominio             930 non-null    float64
 7   regiao                 930 non-null    object
 8   cidade                 930 non-null    object
 9   imobiliaria            930 non-null    object
 10  creci                  930 non-null    object
 11  Aquecimento Solar      930 non-null    int64
 12  Gerador de Energia     930 non-null    int64
 13  Piscina                930 non-null    int64
 14  Sala de Ginástica      930 non-null    int64
 15  Varanda                930 non-null    int64
 16  Cozinha Espaçosa       930 non-null    int64
 17  Guarita                930 non-null    int64
 18  PlayGround             930 non-null    int64
 19  Salão de Festas        930 non-null    int64
 20  Projeto de Iluminação  930 non-null    int64
 21  Pintura Nova           930 non-null    int64
 22  Área de Lazer          930 non-null    int64
 23  Interfone              930 non-null    int64
 24  Mobiliado              930 non-null    int64
 25  Área de Serviço        930 non-null    int64
 26  Jardim                 930 non-null    int64
 27  Lavabo                 930 non-null    int64
 28  Lazer no Pilotis       930 non-null    int64
 29  Poço Artesiano         930 non-null    int64
 30  Portão Eletrônico      930 non-null    int64
 31  Sala de Jogos          930 non-null    int64
 32  Salão de Jogos         930 non-null    int64
 33  Sauna                  930 non-null    int64
 34  SPA                    930 non-null    int64
 35  Vista Livre            930 non-null    int64
 36  Home Theater           930 non-null    int64
 37  tipo                   930 non-null    object
dtypes: float64(4), int64(29), object(5)
memory usage: 283.4+ KB